.app{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 3fr;
    grid-template-areas: 'header header' 'nav content' 'footer footer';
    margin: 10px 10px 0px 10px;
    border-radius: 15px;
    font-family: Monospace;
}

.app-content{
    grid-area: content;
}
